main{
  display: flex;
  flex-direction: column;
  align-items: center;

  .funciona__container{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;

      &--procedi{

          &-title{
            font-size: 2.5rem;
            margin: 5% 0%;
            color: map-get($text-color, text-3);
            text-align: center;
            
          }

          &-items li{
            text-align: center;
            font-size: 1.3rem;
            margin: 5% ;
            width: 95%;
          }

                
      }

      .funciona__container--video iframe{
        max-width: 100%;
        max-height: 100%;
      }
    
  }

  .testi__container {
       
      &--subtitle{
        font-size: 2rem;
        color: map-get($text-color, text-3);
        margin-top: 2rem;
        text-align: center;
        
        
        
      }

      &--tablero{
        display: flex;
        flex-direction: column;
        align-items: center;

        .testi__card{
          font-size: 1.3rem;
          width: 80%;
          margin: 2.5% 0%;
          border: .2rem solid black;
          border-radius: .7rem;
          padding: 2.5%;
            
          &--img{
            border-radius: 50rem;
            margin: 2% 0%;
          }
           
          &--nombre + p {
              margin: 5% 0%;
            }    
          
          &--calificasion{
             .bi{
              color: greenyellow;
             }
          }  
  
        } 

      }

      
  }

}

/*--*/
