.contacto__container,
.preguntas__container {
  
  /*-- animacion ---*/
  animation: from-right 2s ease;
}

main {
  
  .contacto__container{
    width:100%;
      
    
    &--form{
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      margin-top: 3rem;

      &-title{

        font-size: 2.5rem;
        color: map-get($text-color, text-3);
      }
      .contacto__formulario{
        display: flex;
        flex-direction: column;

        &--label{
          font-size: 1.3rem;
          text-align: left;
          margin-top: 1rem;
        }
        &--btn{
          align-self: center;
          width: 30%;
          margin-top: 1rem;
          @include boton-2( .5rem, 1rem, 600, 10%);
        }
      }
    }
    &--preguntas{
      margin-top: 3rem;
      padding: 0rem 0.5rem 0rem .5rem;
      
      &-title{
        color: map-get($text-color, text-3);
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        
      }
      &-pregunta{
        font-weight: 600;
        color: map-get($text-color, text-5);
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
      &-respuesta{
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
      }
    }
  }

}
