footer {
  padding: 1rem 0;
  text-align: center;
  color:map-get($text-color, text-4);
  background: $backg-color;
  background-image: linear-gradient(rgba(66, 107, 178, 0.5), rgba(216, 230, 66, 0.5));
  font-size: 1.2rem;
    .footer__container {
    @include flex-content(center);
    margin-bottom: 1rem;
    &--redes {
      padding-left: 1rem;
      color: map-get($text-color, text-1);
    }
  }
  .autor {
    text-decoration: none;
    color: map-get($text-color, text-1);
  }
}