header {
  top: 0;
  z-index: 2;
  position: sticky;
  padding: 1.5%;
  background: $backg-color;
  background-image: linear-gradient(to top, rgba(66, 107, 178, 0.5), rgba(216, 230, 66, 0.5));

  .container {
    .nav {
      &__navBar {
        padding: 1rem;
        
        @include flex-alingItems-justify(center, space-between);

        &--logo {
          text-decoration: none;
          width: 35%;
          &-img {
            width: 100%;
            filter: brightness(100%);
            
                     }

          &-name{
            color: map-get($text-color, text-4);
            font-size: 1.2rem;
            text-align: center;
          }           
        }

        /*&--name{
          color: map-get($text-color, text-4);
          font-size: 1.3rem;
        }*/

        &--icon-btn {
          padding: 0.5rem;
          border-radius: 10%;
          color: map-get($text-color, text-4);
          
        }
        .open {
          .icon {
            font-size: 2rem;
          }
        }
        .close {
          .icon {
            font-size: 2rem;
          }
        }
      }
      
      &__list {
        top: 95px;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 0px;
        position: absolute;
        overflow: hidden;
        transition: height 0.4s ease;
        background: $backg-color;
        background-image: linear-gradient( rgba(216, 230, 66, 0.5),rgba(66, 107, 178, 0.5));
        display: flex;
        @include alingItems-direction-justify(center, column, space-around);
                
        &--items {
          list-style: none;

          &-li {
            font-size: 1.5rem;
            text-decoration: none;
            color: map-get($text-color, text-4);
            /*background: $backg-color;*/
           
            
            &:hover {
              color: $hover-1;
            }
          }
        }
      }
    }
    #nav-header:target .nav__list {
      height: 300px;
    }
    #nav-header:target .open {
      display: none;
    }
    #nav-header:target .close {
      display: block;
    }
    .close {
      display: none;
    }
  }
}