

@media (min-width: 768px) {
  header {
    .container {
      .nav {
        display: flex;
        &__navBar {
          width: 20%;
          &--logo {
            width: 400%;
          }
          &--icon-btn {
            display: none;
          }
        }
        &__list {
          height: auto;
          position: static;
          flex-direction: row;
          &--items {
            &-li {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }

  main{
    .info__container {
      display: flex;
            
      .info__registro{
        margin-left: 1.5rem;
      }

    }
    
    .profesiones__container{

      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      &--doctores{
        width:80%;
        display: flex;
        justify-content: space-between;
        
        

        .profesiones__card {
          margin: 0.5rem;

          &--title{
            font-size: 1.6rem;
            font-weight: 600;
          }
               
          &--img{
            max-width: 200px;
            max-height: 200px;
            min-width: 150px;
            min-height: 150px;
          }
           
        }
        .profesiones__curri{
          margin: 0.5rem;

         

          &--btn{
            font-size: .9rem;
          }

          
        }

      }
      
      
    }
    .contacto__container {
      display: flex;
      flex-direction: row;
      width: 100%;

      &--form {
        margin-right: 1rem;

        &-title {
          font-size: 2.5rem;
        }

        .contacto__formulario {
          &--label {
            font-size: 1.5rem;
          }

          &--btn {
            align-self: center;
            margin-top: 1.5rem;
            @include boton-2(0.3rem 2rem, 1rem, 600, 10%);
          }
        }

        
      }

      &--preguntas {
        width: 100%;

      }
    }

   

  }
  
  footer {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

/*--------------------------------1024--------------------------------------------*/

@media (min-width: 1024px) {
  header {
    padding: 2%;
    
    .container {
      
      .nav {
        display: flex;
        
        &__navBar {
          padding: 0;
          
          &--logo {
            
            &-img{
              width: 60%;
            }
          }
          &--icon-btn {
            display: none;
          }
        }
        &__list {
          justify-content: center;
          
          &--items {
            
            &-li {
              width: 100%;
              font-size: 1.7rem;
              padding-left: 2.5rem;
            }
          }
        }
      }
    }
  }

  main{

    .info__container {
      display: flex;
      
      .info__description {
        width: 100%;
      }
      .info__registro {
        margin-left: 2rem;
        width: 70%;
      }
    }
   
    .somos__container {
      display: flex;
      flex-direction: row;

      &--descripcion1 {
        &-title {
          margin-right: 1rem;
          font-size: 2.5rem;
          width: 100%;
          height: 70%;
        }

        &-texto1 {
          width: 100%;
          font-size: 1.5rem;
        }
      }

      &--img img{
          margin: 3rem 1rem 0rem 1rem;
          max-width: 550px;
          min-width: 550px;
          max-height: 450px;
          min-height: 450px;
        
      }
    }

    .somos__texto2 {
      font-size: 1.5rem;
      margin: 2rem auto;
      p {
        margin: 2rem auto;
      }
    }

    .serParte__container {
      &--subtitle {
        font-size: 2rem;
        color: map-get($text-color, text-3);
      }

      &--postulante {
        font-size: 1.5rem;
      }

      &--btn {
        font-size: 1.5rem;
        border-radius: 15%;
      }
    }

    .profesiones__titulo {
      margin-bottom: 3rem;
    }

    .profesiones__container{
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      &--doctores{
        width:47%;
        display: flex;
        padding: .2rem;
        margin: 1rem 0.5rem;
        
        

        .profesiones__card {
          margin: 0.5rem;

          &--title{
            font-size: 2rem;
            font-weight: 600;
          }
          
          
          
          &--img{
            max-width: 250px;
            max-height: 250px;
            min-width: 200px;
            min-height: 200px;
          }
  
        }
        .profesiones__curri{
          margin: 0.5rem;

          &--nombre{
            font-size: 1.8rem;
          
          }

          &--btn{
            font-size: 1rem;
          }
          &--subtitle{

            font-size: 1.5rem;
          }

          &--descrip{
            font-size: 1.2rem;
          }

          &--subtitleHorario{
            font-size: 1.5rem;
          }
        }

      }
      
      
    }

    .contacto__container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &--form {
        width: 100%;
        margin: 2%;

        &-title {
          font-size: 2.5rem;
        }

        .contacto__formulario {
          display: flex;

          &--input {
            width: 100%;
            height: 2rem;
          }

          &--label {
            font-size: 1.8rem;
            
          }

          &--area{
            height: 21rem;
          }

          &--btn {
            align-self: center;
            margin-top: 1.5rem;
            @include boton-2(0.5rem 2rem, 1rem, 600, 10%);
          }
        }
      }

      &--preguntas {
        width: 100%;
        margin: 2%;

        &-title {
          padding-left: 0%;
          font-size: 2rem;
        }

        &-pregunta{
          font-size: 1.8rem;
        }

        &-respuesta{
          font-size: 1.8rem;
        }
      }
    }

    .funciona__container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 5%;
      width: 100%;

      &--procedi {

        &-title {
          font-size: 2.5rem;
          text-align: start;
        }

        &-items li {
          font-size: 1.5rem;
          margin:5.5%;
          width: 90%;
          text-align: start;
        }

      }
    }

    .testi__container {

      &--subtitle {
        font-size: 2.5rem;
        text-align: center;
      }

      &--tablero {
        display: flex;
        flex-direction: row;

        .testi__card {
          margin: 1%;
          padding: 1%;
        }
      }
    }

  }

  
  footer {
    font-size: 1.7rem;
    .footer__container {
      &--redes {
        padding-left: 2rem;
      }
    }
  }
}

/*------------------------------1200-------------------------------------*/

@media (min-width: 1200px) {
  header {
    padding: 2% 1%;
    
    .container {
      
      .nav {
        display: flex;
        
        &__navBar {
          padding: 0;
          
          &--logo {
            
            &-img{
              width: 60%;
            }
          }
          &--icon-btn {
            display: none;
          }
        }
        &__list {
          justify-content: center;
          
          &--items {
            
            &-li {
              width: 100%;
              font-size: 2rem;
              padding-left: 2.5rem;
            }
          }
        }
      }
    }
  }
  
  
}